<div class="container user-container">
  <h1>Users' Management</h1>
  <div class="row">
    <a class="btn btn-warning mb-3 user-new-button" (click)="addUser()">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="18px" height="18px">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
        <path d="M0 0h24v24H0z" fill="none"/>
      </svg>
      New User</a>
  </div>
  <div class="row">
    <div class="col-6">
      <table class="table">
        <thead>
        <tr>
          <th>Nr</th>
          <th>Name</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.id}}</td>
          <td>{{user.name}}</td>
          <td>
            <a class="btn btn-warning user-button-edit" (click)="selectUser(user.id)">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#689fa2" width="18px" height="18px">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path
                  d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"/>
              </svg>
              View</a>
          </td>
        </tr>
        </tbody>
      </table>
      <div *ngIf="loadingData">{{message}}</div>
    </div>
    <div class="col-6">
      <div *ngIf="action !== 'view' && action !== 'edit' && action !== 'add'" class="user-align-center">

        <img class="user-image" src="../../../assets/resources/images/users.png" height="250" width="250"/>
      </div>
      <app-user-detail *ngIf="action === 'view'" [user]="selectedUser"
                       (dataChangedEvent)="loadData()"></app-user-detail>
      <app-user-edit *ngIf="action === 'edit' || action === 'add'" [user]="selectedUser"
                     (dataChangedEvent)="loadData()"></app-user-edit>
    </div>
  </div>
</div>


