.room-container {
  padding: 1em 2em 2em 2em;
}

.room-align-center{
  text-align: center;
  display: block;
}

.room-new-button {
  background: #619fa2;
  border: none;
  border-radius: 2px;
  color: white;
  margin: 1em 1em 2em !important;
}

.room-new-button:hover {
  background: #598689;
  color: #ffffff;
}

.room-new-button:active {
  background-color: #517d80 !important;
}

.room-image{
  opacity: 27%;
}

.room-button-edit {
  background: #ffffff;
  border: 0.8px solid #689fa2;
  border-radius: 2px;
  color: #689fa2;
  margin: 0 !important;
}

.room-button-edit:hover {
  background: #598689;
  color: #ffffff;
}

.room-button-edit:active {
  background-color: #517d80 !important;
  color: #ffffff !important;
}
