<div class="user-edit-component">
  <div class="row">
    <h2 class="col-9"> {{user.id == null ? 'Add' : 'Edit'}} User</h2>
    <div class="col-3 user-edit-save-padding">
      <button type="button" class="btn btn-primary user-edit-save-button" (click)="onSubmit()" [disabled]="userForm.invalid || !nameIsValid || !passwordsMatch || !passwordsAreValid">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="18px" height="18px">
          <path d="M0 0h24v24H0z" fill="none"/>
          <path
            d="M17 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V7l-4-4zm-5 16c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3zm3-10H5V5h10v4z"/>
        </svg>
        Save
      </button>
    </div>
  </div>
  <div *ngIf="message">{{message}}</div>

  <form #userForm="ngForm">

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" placeholder="User Name" [(ngModel)]="formUser.name"
             name="name"
             required #nameField="ngModel" (change)="checkIfNameIsValid()">
      <div *ngIf="nameField.invalid && nameField.touched" class="alert-danger">Name is required</div>
      <div *ngIf="!nameIsValid && nameField.touched" class="alert-danger">Name cannot be blank</div>

    </div>

    <div class="form-group" *ngIf="user.id == null">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password" name="password"
             [(ngModel)]="password" #pass1="ngModel" (change)="checkIfPasswordsMatch()" required>
      <div *ngIf="pass1.invalid && pass1.touched" class="alert alert-danger">Password is required</div>
      <div *ngIf="!passwordsAreValid && pass1.touched" class="alert alert-danger">Passwords cannot be blank</div>
    </div>
    <div class="form-group" *ngIf="user.id == null">
      <label for="password">Repeat Password</label>
      <input type="password" class="form-control" id="password2" placeholder="Repeat Password" name="password"
             [(ngModel)]="password2" #pass2="ngModel" (change)="checkIfPasswordsMatch()" required>
      <div *ngIf="!passwordsMatch && pass2.touched" class="alert alert-danger">Passwords must match</div>
    </div>
  </form>
</div>




